<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <input type="file" id="la" />
  <button id="lasao">submit</button>
</body>
<script>
  const ha = document.getElementById("la")
  const getURL = new URL(`http://localhost:3000`);

  document.getElementById("lasao").addEventListener("click", async () => {
    if (ha.files[0]) {
      const form = new FormData();

      console.log(ha.files[0]);
      form.append("username", "hello");
      form.append("file", ha.files[0]);
      console.log(ha.files[0]);
      const req = await fetch(`${getURL.toString()}user/haha`, {
        method: "POST",
        body: form
      });
      console.log(await req.json());


      // const api_key = "583412573719756";
      // const cloud_name = "synasapmob";

      // cloudinary.config({
      //   cloud_name,
      //   api_key,
      //   api_secret: "t0MmxpT30AKW30LZtmP708TWl_4",
      // });

      // const timestamp = Math.round(Date.now() / 1000);

      // const signature = cloudinary.utils.api_sign_request(
      //   {
      //     timestamp,
      //   },
      //   "t0MmxpT30AKW30LZtmP708TWl_4"
      // );


      // const request_url_avatar = await fetch(`${getURL.toString()}user/edit-url-avatar`)
      // const json_url_avatar = await request_url_avatar.json()

      // const req = fetch(json_url_avatar.URL, {
      //   method: "POST",
      //   body: form
      // })

    }
  })
  ha.addEventListener("click", () => {

    // console.log({ ha });


  })

</script>

</html>