@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif;
  /* color: white; */
}

button {
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}


body {
  background-color: #212429;
}